/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to right, #1e163c, #082346);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

svg {
  background-image: linear-gradient(to right, #1e163c, #082346);
  border: 2px solid white;
  border-radius: 10px;
}

.card {
  width: 450px; /* Adjust the width as needed */
  height: 550px; /* Adjust the height as needed */
  background-image: linear-gradient(to right, #120d24, #061931);
  border: 2px solid #ffffff; /* Border of the card */
  border-radius: 10px; /* Border radius to make the corners rounded */
  padding: 20px; /* Padding inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Box shadow for a lifted effect */
}

h1 {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Adjust the gap between elements */
}

.containerCard {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  justify-content: center; /* Center items horizontally */
  gap: 20px;
}